{% if (breadcrumb_include_index_as and pagename != 'index') or parents -%}
<nav aria-label="Breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb-nav-list">
    {% if breadcrumb_include_index_as and pagename != 'index' -%}
    <li class="breadcrumb-nav-list-item breadcrumb-nav-index-item"><a href="{{ pathto('index') }}">{{ breadcrumb_include_index_as }}</a><span class="breadcrumb-separator" role="presentation"></span></li>
    {% endif -%}
    {% for item in parents -%}
    <li class="breadcrumb-nav-list-item"><a href="{{ item.link }}">{{ item.title }}</a><span class="breadcrumb-separator" role="presentation"></span></li>
    {% endfor -%}
    {% if breadcrumb_include_page -%}
    <li class="breadcrumb-nav-list-item breadcrumb-nav-page-item"><span>{{ title }}</span><span class="breadcrumb-separator" role="presentation"></span></li>
    {%- endif %}
  </ol>
</nav>
{%- endif -%}
