{% extends "basic-ng/components/edit-this-page.html" %}
{% from "basic-ng/components/edit-this-page.html" import determine_page_edit_link with context %}

{%- macro furo_edit_button(url) -%}
<div class="edit-this-page">
  <a class="muted-link" href="{{ url }}" rel="edit" title="{{ _("Edit this page") }}">
    <svg><use href="#svg-pencil"></use></svg>
    <span class="visually-hidden">{{ _("Edit this page") }}</span>
  </a>
</div>
{%- endmacro -%}

{% block link_available -%}
{{ furo_edit_button(determine_page_edit_link()) }}
{%- endblock %}

{% block link_not_available %}
{# Make nice things happen, on Read the Docs #}
{%- if READTHEDOCS and conf_py_path and page_source_suffix and github_user != "None" and github_repo != "None" and github_version and pagename and page_source_suffix %}
  {% set url = "https://github.com/" + github_user + "/" + github_repo + "/edit/" + github_version + conf_py_path + pagename + page_source_suffix %}
  {{ furo_edit_button(url) }}
{%- endif -%}
{% endblock %}
