////////////////////////////////////////////////////////////////////////////////
// Brand on top of the scrollable tree.
////////////////////////////////////////////////////////////////////////////////
.navigation-brand {
  display: flex;
  flex-direction: column;

  padding: var(--navigation-item-padding-vertical) var(--navigation-item-padding-horizontal);
  text-decoration: none;
}

.navigation-brand-text {
  padding: var(--navigation-item-padding-vertical) 0;  // some extra vertical spacing
  font-size: 1.5rem;
}

////////////////////////////////////////////////////////////////////////////////
// Search
////////////////////////////////////////////////////////////////////////////////
.navigation-search-container {
  display: flex;
  align-items: center;
  background: var(--color-navigation-search-background);
  &:hover, &:focus-within {
    background: var(--color-navigation-search-background--focus);
  }

  // padding: var(--navigation-item-padding-vertical) var(--navigation-item-padding-horizontal);
  &:before {
    content: "";
    position: absolute;
    left: var(--navigation-item-padding-horizontal);
    width: var(--navigation-search-icon-size);
    height: var(--navigation-search-icon-size);

    background-color: var(--color-navigation-search-icon);
    mask-image: var(--icon-search);
  }
}

.navigation-search {
  height: var(--navigation-search-input-height);

  padding-top: var(--navigation-search-input-padding-vertical);
  padding-bottom: var(--navigation-search-input-padding-vertical);
  padding-right: var(--navigation-search-input-padding-horizontal);
  padding-left: calc(
    var(--navigation-item-padding-horizontal) +
    var(--navigation-search-input-padding-horizontal) +
    var(--navigation-search-icon-size)
  );

  width: calc(
    100% -
    var(--navigation-item-padding-horizontal) -
    2*var(--navigation-search-input-padding-horizontal) -
    var(--navigation-search-icon-size)
  );

  background: transparent;
  z-index: 1;
  border: none;
  border-bottom: 1px solid var(--color-navigation-search-border);

  &:focus { outline: none; }

  &::placeholder {
    font-size: var(--navigation-search-input-font-size);
  }
}

////////////////////////////////////////////////////////////////////////////////
// Structure/Skeleton of the navigation tree (left)
////////////////////////////////////////////////////////////////////////////////
.navigation-tree {
  font-size: var(--navigation-item-font-size);
  margin: var(--navigation-tree-margin-top) 0 var(--navigation-item-padding-vertical);

  ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;

    list-style: none;
  }
  li {
    position: relative;
    margin: 0;

    > ul {
      margin-left: var(--navigation-item-padding-horizontal);
    }
  }
  .reference {
    // Fill the parent.
    display: inline-block;
    line-height: var(--navigation-item-line-height);

    height: 100%;
    width: calc(100% - 2*#{var(--navigation-item-padding-horizontal)});

    padding: var(--navigation-item-padding-vertical) var(--navigation-item-padding-horizontal);

    // Add a nice little "external-link" arrow here.
    &.external::after {
      content: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23607D8B' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5' /%3E%3Cline x1='10' y1='14' x2='20' y2='4' /%3E%3Cpolyline points='15 4 20 4 20 9' /%3E%3C/svg%3E");
      margin: 0 0.25rem;
      vertical-align: center;
    }
  }

  // Make the current page reference bold.
  .current-page > .reference {
    font-weight: bold;
  }

  label {
    position: absolute;
    top: 0;
    right: 0;
    height: var(--navigation-item-height);
    width: var(--navigation-expander-width);

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .caption {
    font-size: var(--navigation-caption-font-size);

    font-weight: bold;
    text-transform: uppercase;

    margin: var(--navigation-caption-margin-top) 0 0 0;

    padding: var(--navigation-item-padding-vertical) var(--navigation-item-padding-horizontal);
  }
  // If it has children, add a bit more padding to wrap the content to avoid
  // overlapping with the <label>
  li.has-children {
    > .reference {
      width: calc(100% - #{var(--navigation-item-padding-horizontal)} - #{var(--navigation-expander-width)});
      padding-right: var(--navigation-expander-width);
    }
  }
}

.toctree-checkbox {
  position: absolute;
  display: none;
}

////////////////////////////////////////////////////////////////////////////////
// Togglable expand/collapse
////////////////////////////////////////////////////////////////////////////////
.toctree-checkbox {
  ~ ul {
    display: none;
  }
  ~ label .icon svg {
    transform: rotate(90deg);
  }
}
.toctree-checkbox:checked {
  ~ ul {
    display: block;
  }
  ~ label .icon svg {
    transform: rotate(-90deg);
  }
}
