////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////
$color-navy: #001f3f;
$color-blue: #0074D9;
$color-aqua: #7FDBFF;
$color-teal: #39CCCC;
$color-olive: #3D9970;
$color-green: #2ECC40;
$color-lime: #01FF70;
$color-yellow: #FFDC00;
$color-orange: #FF851B;
$color-red: #FF4136;
$color-maroon: #85144b;
$color-fuchsia: #F012BE;
$color-purple: #B10DC9;
$color-black: #111111;
$color-gray: #AAAAAA;
$color-silver: #DDDDDD;
$color-white: #FFFFFF;

////////////////////////////////////////////////////////////////////////////////
// Actually colorize the contents
////////////////////////////////////////////////////////////////////////////////

// TODO: Remove these colors, added to make it easier to see things.
.page {
  background-color: $color-purple;
}
.navigation-drawer {
  background-color: $color-blue;
}
.navigation {
  background-color: $color-aqua;
}
.navigation-scroll {
  background-color: $color-teal;
}
.main {
  background-color: $color-green;
}
.toc-drawer {
  background-color: $color-red;
}
.toc {
  background-color: $color-yellow;
}
.toc-scroll {
  background-color: $color-orange;
}
