body {
  color: var(--color-foreground);
}

////////////////////////////////////////////////////////////////////////////////
// Colorize the contents of the page
////////////////////////////////////////////////////////////////////////////////
.navigation-drawer {
  border-right: 1px solid var(--color-navigation-background-border);
  background: var(--color-navigation-background);
}

.navigation-brand {
  color: var(--color-navigation-brand-text);
  border-bottom: 1px solid var(--color-navigation-background-border);
}

.navigation-tree {
  .icon {
    color: var(--color-navigation-link-text);
  }

  .reference {
    text-decoration: none;  // No need for underlines here.
    color: var(--color-navigation-link-text);
    &:hover {
      background: var(--color-navigation-item-background--hover);
    }
    &.external::after {
      // make sure the icon looks like other boring links
      color: var(--color-navigation-link-text);
    }
  }
  .caption {
    color: var(--color-navigation-caption-text);
  }
  // Colorize the top-level list items and icon.
  .toctree-l1 {
    & > .reference, & > label .icon {
      color: var(--color-navigation-link-text--top-level);
    }
  }
  // Color changes on hover
  label {
    background: var(--color-navigation-item-expander-background);
    &:hover {
      background: var(--color-navigation-item-expander-background--hover);
    }
  }
  .current > .reference {
    background: var(--color-navigation-item-background--current);
    &:hover {
      background: var(--color-navigation-item-background--hover);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Table of contents
////////////////////////////////////////////////////////////////////////////////
.toc-drawer {
  background: var(--color-toc-background);
}

.toc-title {
  color: var(--color-toc-title-text);
}

.toc-tree {
  .reference {
    text-decoration: none;  // No need for underlines here.
    color: var(--color-toc-item-text);
  }
  .scroll-current > .reference {
    color: var(--color-toc-item-text--active);
  }
}
