// This file defines all the knobs that can be tweaked by end users.

////////////////////////////////////////////////////////////////////////////////
// Overall Layout Variables
//    These are set here, since CSS variables can't be used in media queries,
//    which is where these would be used.
////////////////////////////////////////////////////////////////////////////////
$content-padding: 2rem;
$content-padding--small: 1rem;
$content-width: 39rem;
$sidebar-width: 15rem;
$full-width: $content-width + 2 * ($content-padding + $sidebar-width);

:root {
  //////////////////////////////////////////////////////////////////////////////
  // Fonts
  //////////////////////////////////////////////////////////////////////////////
  // This seems to be the best "system UI font stack" as on Aug 2020.
  --font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", \
                Roboto, "Helvetica Neue", Arial, sans-serif, \
                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-size: 1rem;
  --font-size--small: 0.875rem;
  --font-size--smaller: 0.8125rem;
  --font-size--smallest: 0.75rem;

  // Navigation
  --navigation-caption-font-size: var(--font-size--smaller);
  --navigation-item-font-size: var(--font-size--small);

  // Table of Contents
  --toc-font-size: var(--font-size--small);
  --toc-title-font-size: var(--font-size--smaller);

  //////////////////////////////////////////////////////////////////////////////
  // Spacing
  //////////////////////////////////////////////////////////////////////////////
  --header-height: calc(var(--navigation-item-line-height) + 4 * #{var(--navigation-item-padding-vertical)});

  // Navigation
  --navigation-tree-margin-top: 2rem;
  --navigation-caption-margin-top: 1rem;

  --navigation-item-line-height: 1rem;
  --navigation-item-padding-vertical: 0.4rem;
  --navigation-item-padding-horizontal: 1rem;
  --navigation-item-height: calc(var(--navigation-item-line-height) + 2*#{var(--navigation-item-padding-vertical)});

  --navigation-expander-width: var(--navigation-item-height);  // be square

  // Table of Contents
  --toc-scroll-margin-top: calc(var(--header-height) + var(--toc-item-padding-vertical) - var(--toc-title-padding-top));
  --toc-title-padding-top: 1rem;
  --toc-title-padding: var(--toc-title-padding-top) 0 0.25rem;
  --toc-padding-horizontal: 1.5rem;
  --toc-item-padding-vertical: 0.5rem;
  --toc-item-padding-horizontal: 1rem;

  //////////////////////////////////////////////////////////////////////////////
  // Overall Colors
  //     To give the user more control, avoid using these colors directly
  //     outside of this file. Instead, try to define more variables here that
  //     based on these, and use them in the actual stylesheets.
  //////////////////////////////////////////////////////////////////////////////
  --color-foreground: black;              // for main text and headings
  --color-foreground-secondary: #5C5962;  // for secondary text
  --color-foreground-border: #888888;     // for muted text, borders in content

  --color-background:        white;    // used for content + ToC
  --color-background-two:    #F8F9FB;  // used for navigation
  --color-background-three:   rgba(239, 239, 244, 1);     // for hover in navigation
  --color-background-three--80: rgba(239, 239, 244, 0.8); // for hover in navigation
  --color-background-three--0:  rgba(239, 239, 244, 0);   // for hover in navigation

  --color-background-border: #EEEBEE;

  --color-primary: #2962ff;
  --color-accent: #39CCCC;

  //////////////////////////////////////////////////////////////////////////////
  // Everything below this should be one of:
  // - var(...)
  // - *-gradient(...)
  // - special literal values (eg: transparent, none)
  //////////////////////////////////////////////////////////////////////////////

  // Navigation sidebar (left)
  --color-navigation-background: var(--color-background-two);
  --color-navigation-background-border: var(--color-background-border);

  --color-navigation-brand-text: var(--color-foreground);
  --color-navigation-caption-text: var(--color-foreground-secondary);
  --color-navigation-link-text: var(--color-foreground-secondary);
  --color-navigation-link-text--top-level: var(--color-primary);

  --color-navigation-item-background: var(--color-navigation-background);
  --color-navigation-item-background--current: var(--color-navigation-item-background);
  --color-navigation-item-background--hover: linear-gradient( \
      -90deg, \
      var(--color-background-three) 0%, \
      var(--color-background-three--80) 90%, \
      var(--color-background-three--0) 100% \
    );

  --color-navigation-item-expander-background: transparent;
  --color-navigation-item-expander-background--hover: var(--color-background-three);

  // Table of Contents
  --color-toc-background: var(--color-background);
  --color-toc-title-text: var(--color-foreground-border);
  --color-toc-item-text: var(--color-foreground-secondary);
  --color-toc-item-text--hover: var(--color-foreground);
  --color-toc-item-text--active: var(--color-primary);
}
