{# Add variant selector for Read the Docs embedding #}
{% if READTHEDOCS %}
<div id="furo-readthedocs-versions" class="rst-versions" data-toggle="rst-versions" role="note" aria-label="{{ _('Versions') }}" tabindex="0">
  <span class="rst-current-version" data-toggle="rst-current-version">
    <span class="fa fa-book">&nbsp;</span>
    v: {{ current_version }}
  </span>
  <div class="rst-other-versions">
    <dl>
      <dt>{{ _('Versions') }}</dt>
      {% for slug, url in versions %}
        <dd><a href="{{ url }}">{{ slug }}</a></dd>
      {% endfor %}
    </dl>
    <dl>
      <dt>{{ _('Downloads') }}</dt>
      {% for type, url in downloads %}
        <dd><a href="{{ url }}">{{ type }}</a></dd>
      {% endfor %}
    </dl>
    <dl>
      {# Translators: The phrase "Read the Docs" is not translated #}
      <dt>{{ _('On Read the Docs') }}</dt>
        <dd>
          <a href="//{{ PRODUCTION_DOMAIN }}/projects/{{ slug }}/?fromdocs={{ slug }}">{{ _('Project Home') }}</a>
        </dd>
        <dd>
          <a href="//{{ PRODUCTION_DOMAIN }}/builds/{{ slug }}/?fromdocs={{ slug }}">{{ _('Builds') }}</a>
        </dd>
    </dl>
  </div>
</div>
{% elif versions %}
<div id="furo-versions" class="rst-versions sidebar-tree" role="note" aria-label="{{ _('Versions') }}" tabindex="0">
  <p class="caption">Versions</p>
  <input type="checkbox" id="checkbox_toggle" class="toctree-checkbox versions-checkbox" role="switch">
  <label id="versions-label" class="versions-label" for="checkbox_toggle">
    <div class="visually-hidden">Toggle child pages in navigation</div>
      <i class="icon">
        <svg>
          <use href="#svg-arrow-right"></use>
        </svg>
      </i>
    </label>
  <ul id="versions-children">
  {% for version in versions|reverse -%}
  <li{% if version.name == current_version.name %} class="current-version"{%- endif %}>{% if version.name == latest_version.name -%}<b>Latest: </b>{%- endif %}<a href="{{ version.url }}">{{ version.name }}</a></li>
  {% endfor -%}
  </ul>
</div>
{% endif %}
