// This file serves as the "skeleton" of the theming logic.
//
// This contains the bulk of the logic for handling dark mode, color scheme
// toggling and the handling of color-scheme-specific hiding of elements.

body
  @include fonts
  @include spacing
  @include icons
  @include admonitions
  @include default-admonition(#651fff, "abstract")

  @include colors

.only-light
  display: block !important
.only-dark
  display: none !important

// Enable dark-mode, if requested.
body.override-as-dark
  @include colors-dark

  .only-light
    display: none !important
  .only-dark
    display: block !important

// Enable dark mode, unless explicitly told to avoid.
@media (prefers-color-scheme: dark)
  body:not(.override-as-light)
    @include colors-dark

    .only-light
      display: none !important
    .only-dark
      display: block !important
