{% include "partials/icons.html" %}

<input type="checkbox" class="sidebar-toggle" name="__navigation" id="__navigation">
<input type="checkbox" class="sidebar-toggle" name="__toc" id="__toc">
<label class="overlay navigation-overlay" for="__navigation"></label>
<label class="overlay toc-overlay" for="__toc"></label>

<header>
  <label class="header-left nav-overlay-icon" for="__navigation">
    <i class="icon"><svg><use href="#svg-menu"></use></svg></i>
  </label>
  <div class="header-center"><div class="brand">{{ docstitle }}</div></div>
  <div class="header-right"></div>
</header>
<div class="page">
  <aside class="navigation-drawer">
    <div class="navigation">
      {% block left_sidebar %}
      <div class="navigation-scroll">
        <a class="navigation-brand" href="{{ pathto(master_doc) }}">
          <span class="navigation-brand-text">{{ docstitle }}</span>
        </a>
        <form class="navigation-search-container" method="get" action="../search.html">
          <input class="navigation-search" placeholder="Search" name="term">
        </form>
        <div class="navigation-tree">
          {{ mawek_navigation_tree }}
        </div>
      </div>
      {% endblock left_sidebar %}
    </div>
  </aside>
  <main class="main">
    <div class="content">
      <article>
        <label class="toc-overlay-icon{% if mawek_hide_toc %} no-toc{% endif %}" for="__toc">
          <i class="icon"><svg><use href="#svg-toc"></use></svg></i>
        </label>
        {% block content %}{{ body }}{% endblock %}
      </article>
      {# TODO: next/prev #}
      {# TODO: footer w/ next/prev + copyright #}
    </div>
    <aside class="toc-drawer{% if mawek_hide_toc %} no-toc{% endif %}">
      {% block right_sidebar %}
      {% if not mawek_hide_toc %}
      <div class="toc-scroll">
        <div class="toc-title-container">
          <span class="toc-title">
            Contents
          </span>
        </div>
        <div class="toc-tree">
          {{ toc }}
        </div>
      </div>
      {% endif %}
      {% endblock right_sidebar %}
    </aside>
  </main>
</div>
