{# From http://clrs.cc/ #}
{% set named_colors = {
  "navy": "#001f3f",
  "blue": "#0074D9",
  "aqua": "#7FDBFF",
  "teal": "#39CCCC",
  "olive": "#3D9970",
  "green": "#2ECC40",
  "lime": "#01FF70",
  "yellow": "#FFDC00",
  "orange": "#FF851B",
  "red": "#FF4136",
  "maroon": "#85144b",
  "fuchsia": "#F012BE",
  "purple": "#B10DC9",
  "black": "#111111",
  "gray": "#AAAAAA",
  "silver": "#DDDDDD",
  "white": "#FFFFFF",
} %}

{# These will become CSS variables #}
{% set css_colors = {
  "text": "black",
  "muted-text": "#5c5962",
  "navigation-background": "#f8f9fb",
  "navigation-border": "#eeebee",
  "navigation-item-background": (
    "var(--color-navigation-background)"
  ),
  "navigation-item-background--current": (
    "var(--color-navigation-item-background)"
  ),
  "navigation-item-background--hover": (
    "linear-gradient("
      "-90deg,"
      "rgba(239,239,244,1) 0%,"
      "rgba(235,237,245,0.8) 90%,"
      "rgba(235,237,245,0) 100%"
    ")"
  ),
  "navigation-item-expander-background--hover": "rgba(239,239,244,1)",
  "navigation-brand-text": "var(--color-text)",
  "navigation-caption-text": "var(--color-muted-text)",
  "navigation-top-level-link-text": "#7253ed",
  "navigation-link-text": "var(--color-muted-text)",
} %}
{% if theme_colors %}
  {% set css_colors = css_colors.update(theme_colors) or css_colors %}
{% endif %}
