{# From http://clrs.cc/ #}
{% set named_colors = {
  "navy": "#001f3f",
  "blue": "#0074D9",
  "aqua": "#7FDBFF",
  "teal": "#39CCCC",
  "olive": "#3D9970",
  "green": "#2ECC40",
  "lime": "#01FF70",
  "yellow": "#FFDC00",
  "orange": "#FF851B",
  "red": "#FF4136",
  "maroon": "#85144b",
  "fuchsia": "#F012BE",
  "purple": "#B10DC9",
  "black": "#111111",
  "gray": "#AAAAAA",
  "silver": "#DDDDDD",
  "white": "#FFFFFF",
} %}

{# These will become CSS variables #}
{% set css_colors = {
  "sidebar-background": "#f5f6fa",
} %}
{% if theme_colors %}
  {% set css_colors = css_colors.update(theme_colors) or css_colors %}
{% endif %}
