// Inline Footnote Reference
.footnote-reference
  font-size: var(--font-size--small--4)
  vertical-align: super

aside.footnote
  font-size: var(--font-size--small)
  color: var(--color-foreground-secondary)

aside.footnote > span,
div.citation > span
  float: inline-start
  font-weight: 500
  padding-inline-end: 0.25rem

aside.footnote > *:not(span),
div.citation > p
  margin-inline-start: 2rem
