// Keyboard / Mouse "instructions"
kbd {
  margin: 0 0.2rem;
  padding: 0 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(204, 204, 204);
  color: var(--color-foreground);
  vertical-align: text-bottom;

  font-size: var(--font-size--small--3);
  display: inline-block;

  box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 0.125rem var(--color-background);
  text-shadow: 0 1px 0 #fff;

  background-color: var(--color-background-two);

  > kbd {
    margin: 0;
  }
}

// Inline code
code.literal {
  background: var(--color-background-two);
  border: 1px solid var(--color-background-border);
  border-radius: 0.2rem;
  // Make the font smaller, and use padding to recover.
  font-size: var(--font-size--small--3);
  padding: 0.1rem 0.2rem;
}

// Footnotes
.footnote-reference {
  font-size: var(--font-size--small--4);
  vertical-align: super;
}
dl.footnote {
  font-size: var(--font-size--small);
  color: var(--color-foreground-secondary);

  display: grid;
  grid-template-columns: max-content auto;
  dt {
    margin: 0;
    > .fn-backref {
      margin-left: 0.25rem;
    }

    &:after {
      content: ":";
    }
    .brackets {
      &:before {
        content: "[";
      }
      &:after {
        content: "]";
      }
    }
  }
}
