ul,
ol {
  padding-left: 1.2rem;

  // Space lists out like paragraphs
  margin-top: 1rem;
  margin-bottom: 1rem;
  // reduce margins within li.
  li {
    > p:first-child {
      margin-bottom: 0.25rem;
    }
    > p:last-child {
      margin-top: 0.25rem;
    }

    > ul,
    > ol {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
// Don't space lists out when they're "simple" or in a `.. toctree::`
.simple,
.toctree-wrapper {
  li {
    > ul,
    > ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
