// This file defines all the knobs that can be tweaked by end users.

// Overall Layout Variables
//
// These are set here, since CSS variables can't be used in media queries,
// which is where these would be used.
$content-padding: 3em;
$content-padding--small: 1em;
$content-width: 46em;
$sidebar-width: 15em;
$full-width: $content-width + 2 * ($content-padding + $sidebar-width);

// Admonitions
//
// Structure of these: (color, key-in-$icons).
// The colors are translated into CSS variables below, and icons are used for
// the declarations.
$admonition-default: #651fff "abstract";
$admonitions: (
  // Each of these has an reST directives for it.
  "caution": #ff9100 "spark",
  "warning": #ff9100 "warning",
  "danger": #ff5252 "spark",
  "attention": #ff5252 "warning",
  "error": #ff5252 "failure",
  "hint": #00bfa5 "question",
  "important": #00c852 "flame",
  "note": #00b0ff "pencil",
  "tip": #64dd17 "info",
  "admonition-todo": #808080 "pencil"
);

:root {
  //////////////////////////////////////////////////////////////////////////////
  // Fonts
  //////////////////////////////////////////////////////////////////////////////
  // This seems to be the best "system UI font stack" as on Aug 2020.
  --font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-stack--monospace: "SFMono-Regular", Menlo, Consolas, monospace;

  --font-size--small: 87.5%;
  --font-size--small--2: 81.2%;
  --font-size--small--3: 75%;
  --font-size--small--4: 62.5%;

  // Sidebar
  --sidebar-caption-font-size: var(--font-size--small--2);
  --sidebar-item-font-size: var(--font-size--small);
  --sidebar-search-input-font-size: var(--font-size--small);

  // Table of Contents
  --toc-font-size: var(--font-size--small--3);
  --toc-title-font-size: var(--font-size--small--4);

  // Admonitions
  --admonition-font-size: var(--font-size--small);
  --admonition-title-font-size: var(--font-size--small);

  // Code
  --code-font-size: var(--font-size--small--2);

  //////////////////////////////////////////////////////////////////////////////
  // Spacing
  //////////////////////////////////////////////////////////////////////////////
  --header-height: calc(
    var(--sidebar-item-line-height) + 4 * #{var(--sidebar-item-padding-vertical)}
  );

  // Sidebar
  --sidebar-tree-margin-top: 1.5rem;
  --sidebar-caption-margin-top: 1rem;

  --sidebar-item-line-height: 1rem;
  --sidebar-item-padding-vertical: 0.5rem;
  --sidebar-item-padding-horizontal: 1rem;
  --sidebar-item-height: calc(
    var(--sidebar-item-line-height) + 2 *#{var(--sidebar-item-padding-vertical)}
  );

  --sidebar-expander-width: var(--sidebar-item-height); // be square

  --sidebar-search-margin-top: 0.5rem;
  --sidebar-search-input-padding-vertical: 0.5rem;
  --sidebar-search-input-padding-horizontal: 0.5rem;
  --sidebar-search-input-height: 1rem;
  --sidebar-search-icon-size: var(--sidebar-search-input-height);

  // Table of Contents
  --toc-title-padding: 0.25rem 0;
  --toc-padding-vertical: 1.5rem;
  --toc-padding-horizontal: 1.5rem;
  --toc-item-padding-vertical: 0.4rem;
  --toc-item-padding-horizontal: 1rem;

  //////////////////////////////////////////////////////////////////////////////
  // Icons
  //////////////////////////////////////////////////////////////////////////////
  @each $name, $glyph in $icons {
    --icon-#{$name}: #{$glyph};
  }
  --icon-admonition-default: var(--icon-#{nth($admonition-default, 2)});

  //////////////////////////////////////////////////////////////////////////////
  // Overall Colors
  //     To give the user more control, avoid using these colors directly
  //     outside of this file. Instead, try to define more variables here that
  //     based on these, and use them in the actual stylesheets.
  //////////////////////////////////////////////////////////////////////////////
  --color-problematic: #cc0000;

  --color-foreground: black; // for main text and headings
  --color-foreground-secondary: #5c5962; // for secondary text
  --color-foreground-border: #888888; // for muted text, borders in content

  --color-background: white; // used for content + ToC
  --color-background-two: #f8f9fb; // used for navigation
  --color-background-three: rgba(239, 239, 244, 1); // for hover in navigation
  --color-background-three--80: rgba(
    239,
    239,
    244,
    0.8
  ); // for hover in navigation
  --color-background-three--0: rgba(
    239,
    239,
    244,
    0
  ); // for hover in navigation

  --color-background-border: #eeebee;

  // Announcements
  --color-announcement-background: #000000dd;
  --color-announcement-text: #eeebee;

  // Brand colors
  --color-brand-primary: #2962ff;
  --color-brand-content: #2b5be0;

  // Admonitions!
  --color-admonition: #{nth($admonition-default, 1)};
  --color-admonition-background: #{rgba(nth($admonition-default, 1), 0.1)};

  @each $name, $values in $admonitions {
    --color-admonition--#{$name}: #{nth($values, 1)};
    --color-admonition-background--#{$name}: #{rgba(nth($values, 1), 0.1)};
  }

  // API documentation
  --color-api-overall: #555555;
  --color-api-name: var(--color-brand-content);
  --color-api-pre-name: var(--color-brand-content);
  --color-api-paren: #333333;
  --color-api-keyword: var(--color-problematic);

  //////////////////////////////////////////////////////////////////////////////
  // Everything below this should be one of:
  // - var(...)
  // - *-gradient(...)
  // - special literal values (eg: transparent, none)
  //////////////////////////////////////////////////////////////////////////////

  // Header
  --color-header-background: var(--color-background);
  --color-header-border: var(--color-background-border);
  --color-header-text: var(--color-foreground);

  // Sidebar (left)
  --color-sidebar-background: var(--color-background-two);
  --color-sidebar-background-border: var(--color-background-border);

  --color-sidebar-brand-text: var(--color-foreground);
  --color-sidebar-caption-text: var(--color-foreground-secondary);
  --color-sidebar-link-text: var(--color-foreground-secondary);
  --color-sidebar-link-text--top-level: var(--color-brand-primary);

  --color-sidebar-item-background: var(--color-sidebar-background);
  --color-sidebar-item-background--current: var(
    --color-sidebar-item-background
  );
  --color-sidebar-item-background--hover: linear-gradient(
    -90deg,
    var(--color-background-three) 0%,
    var(--color-background-three--80) 90%,
    var(--color-background-three--0) 100%
  );

  --color-sidebar-item-expander-background: transparent;
  --color-sidebar-item-expander-background--hover: var(
    --color-background-three
  );

  --color-sidebar-search-background: var(--color-background-two);
  --color-sidebar-search-background--focus: var(--color-background);
  --color-sidebar-search-border: var(--color-background-border);
  --color-sidebar-search-icon: var(--color-foreground-border);

  // Table of Contents
  --color-toc-background: var(--color-background);
  --color-toc-title-text: var(--color-foreground-border);
  --color-toc-item-text: var(--color-foreground-secondary);
  --color-toc-item-text--hover: var(--color-foreground);
  --color-toc-item-text--active: var(--color-brand-primary);

  // Actual page contents
  --color-content-foreground: var(--color-foreground);
  --color-content-background: transparent;

  --color-link: var(--color-brand-content);
  --color-link--hover: var(--color-brand-content);
  --color-link-underline: var(--color-background-border);
  --color-link-underline--hover: var(--color-foreground-border);
}
