# This is mostly experimental. Right now, all it does is create a GitHub release
# and then try to upload to TestPyPI. The second step seems to be consistently
# failing. :)

name: Release
on:
  push:
    tags:
      - "*"

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3

      - name: Install dependencies
        run: pip install build

      - name: Generate final distribution
        run: python -m build

      - name: Upload source distribution as an action artifact
        uses: actions/upload-artifact@v3
        with:
          name: sdist
          path: dist/furo-*.tar.gz
      - name: Upload wheel distribution as an action artifact
        uses: actions/upload-artifact@v3
        with:
          name: wheel
          path: dist/furo-*-py3-none-any.whl

      - name: Make a GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*

      - name: Upload to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository_url: https://test.pypi.org/legacy/
          verbose: true
